.management {
    margin: 0 10%;

    .title {
        text-align: center;
        color: green;
        font-size: 180%;
        font-weight: 600;
    }

    .fcontainer {
        display: flex;
        align-items: center;

        .ftext {
            width: 15%;
            font-size: 110%;
        }
    
        .fip {
            width: 30%;
            margin-right: 30%;
        }
    }

    th {
        width: 25%;
        background-color:#198754;
        color: white;
    }

    td {
        width: 25%;
    }

    .btn {
        margin-right: 3%;
    }
}