.logo {
    width: 5.5em;
    height: 5em;
}

.menu {
    display: flex;
    align-items: center;

    .transaction {
        margin-top: 0.1em;
        margin-right: 2em;
        padding: 1.2em 1em;
        border-left: 0.125em solid white;
        border-right: 0.125em solid white;
        border-radius: 0.3125em;

        .link {
            display: flex;
            text-decoration: none;

            .img1 {
                width: 3em;
                height: 3em;
            }

            .para1 {
                color: white;
                margin-top: 0.6em;
                margin-left: 1em;
            }
        }
    }

    .inventory {
        .container1 {
            display: flex;
            align-items: center;
            height: 5.7em;
            padding: 0 2em;
            border-left: 0.125em solid white;
            border-right: 0.125em solid white;
            border-radius: 0.625em;

            .img2 {
                width: 3em;
                height: 3em;
            }

            .para2 {
                margin-top: 1em;
            }
        }
    }

    .link {
        text-decoration: none;
        color: black;
    }
}

.user {
    .container2 {
        height: 5.7em;
        border-left: 0.125em solid white;
        border-right: 0.125em solid white;
        border-radius: 0.625em;

        .para3 {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    .lock {
        display: flex;
        align-items: center;
        height: 2em;
        padding-right: 2.8em;

        .name {
            margin-top: 1em;
            margin-left: 0.2em;
        }
    }

    .exit {
        display: flex;
        align-items: center;
        height: 2em;
        padding-right: 3em;

        .name {
            margin-top: 0.8em;
            margin-left: 0.2em;
        }
    }
}

.total {
    color: green;
}

.field {
    margin: 0 2%; 

    .title {
        margin: 0;
        padding: 0;
    }

    .ip {
        width: 98%;
        border-radius: 0.3125em;
    }
}